#!/bin/bash
set -xe

# update
dnf update -y

# install web stack
dnf install -y httpd php php-mysqlnd wget tar

systemctl enable httpd
systemctl start httpd

# download wordpress
cd /var/www/html

wget https://wordpress.org/latest.tar.gz
tar -xzf latest.tar.gz

cp -r wordpress/* .
rm -rf wordpress latest.tar.gz

# create config
cp wp-config-sample.php wp-config.php

# inject DB settings (RDS)
sed -i "s/database_name_here/${db_name}/" wp-config.php
sed -i "s/username_here/${db_user}/" wp-config.php
sed -i "s/password_here/${db_password}/" wp-config.php
sed -i "s/localhost/${db_host}/" wp-config.php

# permissions
chown -R apache:apache /var/www/html

systemctl restart httpd